DATABASE_URL="postgresql://neondb_owner:npg_vS9GlbsoyVx6@ep-polished-feather-aokok9q3-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
AUTH_SECRET="ruV8UYaSUwVhYEIFhEm2iA/25DkNT9qgikAy3xFBLWM="
AUTH_GOOGLE_ID="938888773175-70h5nue3biarqgb6hqtblivefmdihj9d.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET="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"
APP_URL="http://localhost:3000"
ENCRYPTION_KEY="0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
